{% extends 'base.html'%}

{% block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Bungee|Caveat+Brush|Russo+One" rel="stylesheet">
    <link rel="icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <style>
      .col-md-6:hover{
        background-color: white;
      }
    </style>
{% endblock %}
{% block content %}
<div class="container" style="background-color:grey; padding:5%">
  {% for category in categories%}
  <div class="col-md-6">
    <a href="/category/{{category.id}}"><h1 style="text-align:center">{{category.name|upper}}</h1></a>
  </div>
  {% endfor %}
</div>
{% endblock %}
