{% extends 'base.html'%}

{% block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Bungee|Caveat+Brush|Russo+One" rel="stylesheet">
    <link rel="icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block content %}
  {% for category in categories%}
      <a href="/category/{{category.id}}">
        <h3>{{category.name |upper}}</h3>
      </a>
  {% endfor %}
{% endblock %}
