{% macro displayPitches(pitch_list) %}
  {% for pitches in pitch_list %}
  <div class="well" style="text-align:center">
        <h3>{{pitches.actual_pitch}}</h3>
          <hr>
        <p>POSTED: {{pitches.date_posted.strftime('%Y/%m/%d || %r')}}</p>
        <a href="/pitch/{{pitches.id}}"><h4>COMMENT</h4></a>

  </div>
  {% endfor %}
{% endmacro %}

{% macro displaySpecificPitch(specific_pitch_list) %}
 {% for comment in specific_pitch_list %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
  <hr> {{comment.comment_section_id}}
</div>
{% endfor %}{% endmacro %}
