<div class="navbar navbar-inverse" role="navigation"style="background-color:#1A5276">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
            <a class="navbar-brand" href="/" style="font-family: 'Special Elite', cursive; font-size:50px"> PITCH </a>

    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li style="font-size:20px;color:white"><a href="/">HOME</a></li>
      </ul>
    </div>
  </div>
</div>
<style>
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
</style>
