{% extends 'base.html' %}
 {% import 'macros.html' as macro%}

{%block styles%}
  {{ super() }}
{%endblock%}

<!-- content block -->
{% block content %}
<div class="container">
  <div class="col-md-6">
    <div class="well">
      <h3>{{pitches.actual_pitch}}</h3>
    </div>
  </div>
  <div class="col-md-6">
      <h4>Comments:</h4>
      {% if comment %}
      {{ macro.displaySpecificPitch(comment)}}
      <hr>
      {%else%}
      <h3 class="text-center">No comments </h3>
      {% endif %}
      <p class="text-right"><a class="btn btn-primary" href="/pitch/new/{{pitches.id}}">Add a comment</a></p>
  </div>
</div>

{% endblock %}
